In [19]:
# Import the dependencies.
import pandas as pd
import numpy
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-01-23 20:57:35,-34.5322,20.0403,68.29,73,40,9.82
1,1,Kodiak,US,2022-01-23 20:57:35,57.7900,-152.4072,38.71,93,100,9.22
2,2,Ushuaia,AR,2022-01-23 20:57:36,-54.8000,-68.3000,56.86,54,75,4.61
3,3,Port Elizabeth,ZA,2022-01-23 20:57:36,-33.9180,25.5701,73.09,88,0,8.05
4,4,Albany,US,2022-01-23 20:57:36,42.6001,-73.9662,30.27,60,100,2.06

In [3]:
city_data_df.dtypes
city_data_df["Max Temp"]

0      68.29
1      38.71
2      56.86
3      73.09
4      30.27
       ...
539   -24.84
540    26.55
541    10.06
542    45.45
543    -2.94
Name: Max Temp, Length: 544, dtype: float64

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-01-23 20:57:35,-34.5322,20.0403,68.29,73,40,9.82
1,1,Kodiak,US,2022-01-23 20:57:35,57.7900,-152.4072,38.71,93,100,9.22
2,2,Ushuaia,AR,2022-01-23 20:57:36,-54.8000,-68.3000,56.86,54,75,4.61
3,3,Port Elizabeth,ZA,2022-01-23 20:57:36,-33.9180,25.5701,73.09,88,0,8.05
4,4,Albany,US,2022-01-23 20:57:36,42.6001,-73.9662,30.27,60,100,2.06

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperature = city_data_df["Max Temp"].astype(float)

# an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level= 1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights= temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
min_temp = float(input("What is the minimum temp for your trip? "))
max_temp = float(input("what is the maximum temp for your trip?"))

What is the minimum temp for your trip? 75
what is the maximum temp for your trip?90

In [15]:
#filter the datasett to find cities that fit criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"]>= min_temp)]

preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Vaini,TO,2022-01-23 20:57:37,-21.2000,-175.2000,81.03,71,17,10.22
9,9,Rikitea,PF,2022-01-23 20:57:38,-23.1203,-134.9692,78.48,73,98,16.11
14,14,Hilo,US,2022-01-23 20:55:32,19.7297,-155.0900,76.39,81,33,1.99
15,15,Namatanai,PG,2022-01-23 20:53:27,-3.6667,152.4333,80.47,80,93,2.33
19,19,Butaritari,KI,2022-01-23 20:57:42,3.0707,172.7902,81.73,80,98,18.77

In [17]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5             Vaini      TO     81.03 -21.2000 -175.2000
9           Rikitea      PF     78.48 -23.1203 -134.9692
14             Hilo      US     76.39  19.7297 -155.0900
15        Namatanai      PG     80.47  -3.6667  152.4333
19       Butaritari      KI     81.73   3.0707  172.7902
21     Puerto Ayora      EC     82.36  -0.7393  -90.3518
22           Harper      LR     78.98   4.3750   -7.7169
32           Atuona      PF     78.67  -9.8000 -139.0333
33  Arraial Do Cabo      BR     82.36 -22.9661  -42.0278
37          Talisay      PH     78.82  10.2447  123.8494

In [20]:
# set parameters to search for hotel
params = {
    "radius": 5000, 
    "type": "lodging",
    "key": g_key}

In [24]:
# iterate through Hotels DF
for index, row in hotel_df.iterrows():
    # get the lat longs
    lat = row["Lat"]
    lng = row["Lng"]
    
    #add lat lng to location key for params dict
    params["location"] = f"{lat},{lng}"
    
    # use search term "lodging" and lat lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and get JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #grab the first hotel from the results and store name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Vaini,TO,81.03,-21.2000,-175.2000,Keleti Beach Resort
9,Rikitea,PF,78.48,-23.1203,-134.9692,People ThankYou
14,Hilo,US,76.39,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Namatanai,PG,80.47,-3.6667,152.4333,Seagulls Inn Namatani
19,Butaritari,KI,81.73,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...
526,Bowen,AU,78.98,-20.0167,148.2333,Castle Motor Lodge Motel
528,Mabay,PH,78.33,6.0577,124.4666,Bautista Lodging House
530,Lompoc,US,76.01,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
534,Trinidad,BO,82.83,-14.8333,-64.9000,Hotel Piesta
537,Delta Del Tigre,UY,78.91,-34.7633,-56.3853,FINCA SUAREZ

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))